@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{

    Layout = "~/Views/Shared/_AsistanLayout.cshtml";
    ViewData["Title"] = "Asistan";
}

<div class="container">
    <h2>@ViewData["Title"]</h2>
    <p>Asistan ile ilgili bilgiler burada yer alacak.</p>

    <div class="card">
        <div class="card-header">
            Asistan Bilgileri
        </div>
        <div class="card-body">
            <p><strong>Ad Soyad:</strong> Ali Veli</p>
            <p><strong>E-posta:</strong> ali.veli@example.com</p>
            <p><strong>Çalıştığı Bölüm:</strong> Yazılım Geliştirme</p>
        </div>
    </div>
</div>