@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    Layout = "~/Views/Shared/_BolumLayout.cshtml";
    ViewData["Title"] = "Home Page";
}
<h2>Bolumler</h2>

<p>Bolum listesi gösterilecektir:</p>
