@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    Layout = "~/Views/Shared/_OgretimUyeleriLayout.cshtml";
    ViewData["Title"] = "Home Page";
}
<h2>Öğretim Üyeleri</h2>

<p>Burada öğretim üyelerinin listesi gösterilecektir:</p>

<!-- Öğretim üyelerinin listesini göstermek için -->