@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    Layout = "~/Views/Shared/_RandevuLayout.cshtml";
    ViewData["Title"] = "Home Page";
}
<h2>Randevu </h2>

<p>Randevular</p>