<!--



<form method="post" asp-action="Create">
    <div class="form-group">
        <label asp-for="FullName" class="control-label"></label>
        <input asp-for="FullName" class="form-control" />
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DepartmentName" class="control-label"></label>
        <input asp-for="DepartmentName" class="form-control" />
        <span asp-validation-for="DepartmentName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Assistant" class="control-label"></label>
        <select asp-for="Assistant" asp-items="
            <option value="">Seçiniz</option>
        </select>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Kaydet</button>
    </div>
</form>

 -->
