<!--  IEnumerable<NobetYonetim.ViewModels.ProfessorViewModel>

@{
    ViewData["Title"] = "Professor List"; // Sayfa başlığı
}

<h1>Professor List</h1>

<a href="@Url.Action("Create", "Professor")" class="btn btn-primary mb-3">Add New Professor</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Department</th>
            <th>Specialization</th>
            <th>Admin</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        
    </tbody>
</table>
-->
